dev/test_data/main/xsd/expected/deep_class_hierarchy/expected_output/schema.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://dummy.com" elementFormDefault="qualified" targetNamespace="https://dummy.com">
  <xs:group name="blossom">
    <xs:sequence>
      <xs:group ref="leaf"/>
      <xs:element name="details" type="xs:string"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="branch">
    <xs:sequence>
      <xs:group ref="node"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="branch_choice">
    <xs:choice>
      <xs:element name="branch" type="branch_t"/>
      <xs:element name="leaf" type="leaf_t"/>
      <xs:element name="blossom" type="blossom_t"/>
    </xs:choice>
  </xs:group>
  <xs:group name="container">
    <xs:sequence>
      <xs:element name="node">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="node_choice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="something" type="something_t"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="leaf">
    <xs:sequence>
      <xs:group ref="branch"/>
      <xs:element name="value" type="xs:long"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="leaf_choice">
    <xs:choice>
      <xs:element name="leaf" type="leaf_t"/>
      <xs:element name="blossom" type="blossom_t"/>
    </xs:choice>
  </xs:group>
  <xs:group name="node">
    <xs:sequence>
      <xs:element name="identifier" type="xs:string"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="node_choice">
    <xs:choice>
      <xs:element name="branch" type="branch_t"/>
      <xs:element name="leaf" type="leaf_t"/>
      <xs:element name="blossom" type="blossom_t"/>
    </xs:choice>
  </xs:group>
  <xs:group name="something">
    <xs:sequence>
      <xs:element name="someChoice">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="node_choice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="somethingWithoutChoice">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="branch_choice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="blossom_t">
    <xs:sequence>
      <xs:group ref="blossom"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="branch_t">
    <xs:sequence>
      <xs:group ref="branch"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="container_t">
    <xs:sequence>
      <xs:group ref="container"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="leaf_t">
    <xs:sequence>
      <xs:group ref="leaf"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="node_t">
    <xs:sequence>
      <xs:group ref="node"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="something_t">
    <xs:sequence>
      <xs:group ref="something"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="something" type="something_t"/>
</xs:schema>
