dev/test_data/main/xsd/expected/constrained_primitives/expected_output/schema.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://dummy.com" elementFormDefault="qualified" targetNamespace="https://dummy.com">
  <xs:group name="something">
    <xs:sequence>
      <xs:element name="someBool" type="xs:boolean"/>
      <xs:element name="someInt" type="xs:long"/>
      <xs:element name="someFloat" type="xs:double"/>
      <xs:element name="someString">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="someBytes">
        <xs:simpleType>
          <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="something_t">
    <xs:sequence>
      <xs:group ref="something"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="something" type="something_t"/>
</xs:schema>
