dev/test_data/main/xsd/expected/list_of_classes_with_invariants/expected_output/schema.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://dummy.com" elementFormDefault="qualified" targetNamespace="https://dummy.com">
  <xs:group name="abstractItem">
    <xs:sequence/>
  </xs:group>
  <xs:group name="abstractItem_choice">
    <xs:choice>
      <xs:element name="anotherItem" type="anotherItem_t"/>
      <xs:element name="someItem" type="someItem_t"/>
    </xs:choice>
  </xs:group>
  <xs:group name="anotherItem">
    <xs:sequence>
      <xs:group ref="abstractItem"/>
      <xs:element name="serialNumber" type="xs:long"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="parentlessAndChildless">
    <xs:sequence>
      <xs:element name="identifier" type="xs:string"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="someItem">
    <xs:sequence>
      <xs:group ref="abstractItem"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="something">
    <xs:sequence>
      <xs:element name="someItems">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="abstractItem_choice" minOccurs="2" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listOfParentlessAndChildless">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="parentlessAndChildless" type="parentlessAndChildless_t" minOccurs="3" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="abstractItem_t">
    <xs:sequence>
      <xs:group ref="abstractItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anotherItem_t">
    <xs:sequence>
      <xs:group ref="anotherItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parentlessAndChildless_t">
    <xs:sequence>
      <xs:group ref="parentlessAndChildless"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="someItem_t">
    <xs:sequence>
      <xs:group ref="someItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="something_t">
    <xs:sequence>
      <xs:group ref="something"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="something" type="something_t"/>
</xs:schema>
