dev/test_data/main/xsd/expected/list_of_enums/expected_output/schema.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://dummy.com" elementFormDefault="qualified" targetNamespace="https://dummy.com">
  <xs:group name="something">
    <xs:sequence>
      <xs:element name="someResults">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="v" type="result_t" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="result_t">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ok"/>
      <xs:enumeration value="fail"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="something_t">
    <xs:sequence>
      <xs:group ref="something"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="something" type="something_t"/>
</xs:schema>
