test_data/xsd/test_main/aas_core_meta.v3rc2/input/snippets/Lang_string_set.xml

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.admin-shell.io/aas/3/0/RC02">
    <xs:complexType name="langString_t">
        <xs:sequence>
            <xs:element name="language">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="^(([a-zA-Z]{2,3}(-[a-zA-Z]{3}(-[a-zA-Z]{3}){2})?|[a-zA-Z]{4}|[a-zA-Z]{5,8})(-[a-zA-Z]{4})?(-([a-zA-Z]{2}|[0-9]{3}))?(-(([a-zA-Z0-9]){5,8}|[0-9]([a-zA-Z0-9]){3}))*(-[0-9A-WY-Za-wy-z](-([a-zA-Z0-9]){2,8})+)*(-[xX](-([a-zA-Z0-9]){1,8})+)?|[xX](-([a-zA-Z0-9]){1,8})+|((en-GB-oed|i-ami|i-bnn|i-default|i-enochian|i-hak|i-klingon|i-lux|i-mingo|i-navajo|i-pwn|i-tao|i-tay|i-tsu|sgn-BE-FR|sgn-BE-NL|sgn-CH-DE)|(art-lojban|cel-gaulish|no-bok|no-nyn|zh-guoyu|zh-hakka|zh-min|zh-min-nan|zh-xiang)))$" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="text" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="langStringSet_t">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="langString" type="langString_t"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
